<footer class="footer" style="background-color: rgb(23, 23, 23)">
  <div>
    <div style="font-family: Spoqa Han Sans,-apple-system,Helvetica Neue,sans-serif; line-height: 1.6; font-size: 14px; color: rgb(255, 255, 255);">
      <link rel="apple-touch-icon" sizes="57x57" href="https://cjconnect-common.s3.ap-northeast-2.amazonaws.com/57.png"/>
      <i></i>
      <div>ALL RIGHTS RESERVED.</div>
    </div>
  </div>
  </div>
</footer>
