{{#hasContent}}{{#isPageResponse}}{{pagination-response-adoc}}

{{/isPageResponse}}|===
|필드|타입|옵션|설명

{{#content}}
|{{path}}
|{{type}}
|{{optional}}
|{{description}}
{{/content}}
|==={{/hasContent}}{{#noContent}}{{no-response-body}}{{/noContent}}